body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #ff57;
  box-sizing: border-box;
}
h1 {
    color: magenta;
}
  ul {
    text-align: center;
    list-style: none;
}
h2 {
  color: teal;
  font-style: normal;
  font-size: small;
}
p {
  line-height: 45px;
  text-align: center;
}